.styled-button {
  border: none;
  border-radius: 0.5em;
  background-color: var(--accent);
  color: white;
}

.large-button {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-right: 1em;
  padding-left: 1em;
  font-size: large;
}

.center {
  text-align: center;
}