.App {
  text-align: center;
}

button {
  border: none;
  border-radius: 0.5em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-right: 1em;
  padding-left: 1em;
  background-color: var(--accent);
  font-size: large;
  color: white;
}