:root {
  --popup-bg: rgb(255, 232, 236);
}

.styled-button {
  border: none;
  border-radius: 0.5em;
  background-color: var(--accent);
  color: white;
}

.large-button {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-right: 1em;
  padding-left: 1em;
  font-size: large;
}

.center {
  text-align: center;
}

/* #test {
  border-color: orange;
  border-style: solid;
} */

.popup-content {
  position: fixed;
  left: 0 !important;
}

.close-button {
  border: none;
  background: none;
  font-size: 2em;
  font-weight: 300;
}

.close-button:hover {
  cursor: pointer;
}