/* #create-box-popup {
    /* background: var(--popup-bg); */
/* background-color: pink;
    border: rgb(255, 49, 83); */
/* border-radius: 0.5em;
    /* border-width: 1px; 
    border-style: solid;
    padding: 1em 
}

input {
    padding: 0.75em;
    margin-top: 3em;
    font-size: 0.75em;
    min-width: 20vw;
}

#create-box-button {
    margin-left: 0.5em;
    padding: 0.5em;
}

.close-button {
    top: 0.2em;
    right: 0.3em;
    position: absolute;
}

*/