.field {
    padding: 0.25em;
    padding-left: 0.3em;
    border-radius: 0.5em;
    margin: 0.1em;
    border-width: 0.5px;
    font-size: 1em;
}

.form-submission {
    padding: 0.5em;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.small-text {
    font-size: 0.8em;
}