#submit-share {
    background-color: var(--popup-bg);
    padding: 5vh;
    border-radius: 1em;
    padding-top: 8.5vh;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

#write-share {
    width: 30em;
    padding: 0.5em;
}

#house-submit-button {
    width: 30em;
    justify-content: center;
    display: flex;
}

#submit-share-button {
    background-color: pink;
    padding: 0.6em;
    margin-top: 1vh;
}

.close-button {
    font-weight: 100;
    margin-right: 0.2vw;
}