#enter-class-code {
    margin-top: 30vh;
    height: 14vh;
    /* width: 25vw; */
    width: 5em;
    border-radius: 0.5em;
    text-align: center;
    font-size: 4em;
    font-weight: 300;
    font-stretch: ultra-expanded;
    resize: none;
    overflow: hidden;
    overflow-y: hidden;
}

#enter-class {
    margin-top: 1.5vh;
    padding: 0.7em;
    margin-bottom: 1vh;
}

#welcome-page {
    height: 100vh;
    vertical-align: middle;
}

.register-login {
    margin: 0.25em;
    text-decoration: none;
}